.footer {
  background: #f9f9f9;
  height: 105px;
  margin-top: 25px;
  padding-top: 25px;
  text-align: center;
}
.ns_footer_line {
  padding: 4px 0;
  color: #000;
}
.ns_footer_line span {
  margin: 0 8px;
}
.ns_footer_line em{
  width: 10px;
  height: 13px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.ns_footer_line .usepng {
  background-image: url(../img/top/icon.png);
  display: inline-block;
  background-repeat: no-repeat;
}
.ns_footer_line .icon_addr1 {
  background-position: -234px -3px;
}
.ns_footer_line .icon_addr2 {
  background-position: -248px -3px;
}
.ns_footer_line a:hover{
  color: #000;
}