
.sort-list_right{
    width:47px;
    height:370px;
    position:fixed;
    right:16px;
    top:150px;
    display: none;
}
.l1{
    float:left;
    position: relative;
    margin:0;
    padding:0;
}
.l1>div>p{
    height:55px;
    width:47px;
}
.l1>div>p:nth-child(2),.l1>a>p:nth-child(2){
    top:0;
}

.sort-list_right li>a{
    display:block;
}
.dark_rexian{
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -322px;
}
.light_rexian{
    visibility:hidden;
    position:absolute;
    top:0;
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px 0px;
}
.dark_zixun{
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -377px;
}
.light_zixun{
    visibility:hidden;
    position:absolute;
    top:55px;
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -55px;
}
.dark_mendian{
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -431px;
}
.light_mendian{
    visibility:hidden;
    position:absolute;
    top:110px;
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -109px;
}
.dark_tucao{
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -485px;
}
.light_tucao{
    visibility:hidden;
    position:absolute;
    top:165px;
    width:47px;
    height:55px;
    background:url(../img/list/list.png) -1308px -163px;
}
.dark_app{
    width:47px;
    height:53px;
    background:url(../img/list/list.png) -1308px -539px;
}
.light_app{
    visibility:hidden;
    position:absolute;
    top:220px;
    width:47px;
    height:53px;
    background:url(../img/list/list.png) -1308px -218px;
}
div.zhucehaoli>p{
    height:76px;
}
.dark_zhucehaoli{
    background:url(../img/list/list_2.jpg) -17px -76px;
}
.light_zhucehaoli{
    visibility:hidden;
    position:absolute;
    top:273px;
    width:47px;
    background:url(../img/list/list_2.jpg) -90px -76px;
}
.dark_jiaobiao{
    background:url(../img/list/list.png) -1308px -593px;
    width:47px;
    height:20px;
}
.light_jiaobiao{
    visibility:hidden;
    position:absolute;
    top:349px;
    background:url(../img/list/list.png) -1308px -271px;
    width:47px;
    height:20px;
}
.rexian:hover .dark_rexian{
    visibility:hidden;
}
.rexian:hover .light_rexian{
    visibility:visible;
}
.zixun:hover .dark_zixun{
    visibility:hidden;
}
.zixun:hover .light_zixun{
    visibility:visible;
}
.mendian:hover .dark_mendian{
    visibility:hidden;
}
.mendian:hover .light_mendian{
    visibility:visible;
}
.tucao:hover .dark_tucao{
    visibility:hidden;
}
.tucao:hover .light_tucao{
    visibility:visible;
}
.app:hover .dark_app{
    visibility:hidden;
}
.app:hover .light_app{
    visibility:visible;
}
.zhucehaoli:hover .dark_zhucehaoli{
    visibility:hidden;
}
.zhucehaoli:hover .light_zhucehaoli{
    visibility:visible;
}
.jiaobiao:hover .dark_jiaobiao{
    visibility:hidden;
}
.jiaobiao:hover .light_jiaobiao{
    visibility:visible;
}
.rexian_litst_1{
    position:absolute;
    right:47px;
    top:0;
    padding-right:195px;
}
.dark_rexian_litst_1{
    background:url(../img/list/list.png) -443px 0px;
    width:195px;
    height:52px;
    position:absolute;
    visibility:hidden;
}
.light_rexian_litst_1{
    background:url(../img/list/list.png) -173px 0px;
    width:195px;
    height:52px;
    position:absolute;
    visibility:hidden;
}
.rexian:hover .dark_rexian_litst_1{
    visibility:visible;
}
.rexian_litst_1:hover .light_rexian_litst_1{
    visibility:visible;
}
.rexian_litst_1:hover .dark_rexian_litst_1{
    visibility:hidden;
}
.zixun_litst_1{
    position:absolute;
    right:47px;
    top:-55px;
    padding-right:218px;
}
.l1>div.zixun>a{
    top:-55px;
}
.dark_zixun_litst_1{
    background:url(../img/list/list.png) -1066px 0px;
    width:218px;
    height:52px;
    position:absolute;
    top:55px;
    visibility:hidden;
}
.light_zixun_litst_1{
    background:url(../img/list/list.png) -1072px -276px;
    width:218px;
    height:52px;
    position:absolute;
    top:55px;
    visibility:hidden;
}
.zixun:hover .dark_zixun_litst_1{
    visibility:visible;
}
.zixun_litst_1:hover .light_zixun_litst_1{
    visibility:visible;
}
.zixun_litst_1:hover .dark_zixun_litst_1{
    visibility:hidden;
}
.zixun_litst_2{
    position:absolute;
    right:47px;
    top:0;
    padding-right:218px;
}
.dark_zixun_litst_2{
    background:url(../img/list/list.png) -1066px -52px;
    width:218px;
    height:52px;
    position:absolute;
    top:107px;
    visibility:hidden;
}
.light_zixun_litst_2{
    background:url(../img/list/list.png) -1072px -328px;
    width:218px;
    height:52px;
    position:absolute;
    top:107px;
    visibility:hidden;
}
.zixun:hover .dark_zixun_litst_2{
    visibility:visible;
}
.zixun_litst_2:hover .light_zixun_litst_2{
    visibility:visible;
}
.zixun_litst_2:hover .dark_zixun_litst_2{
    visibility:hidden;
}
.zixun_litst_3{
    position:absolute;
    right:47px;
    top:0;
    padding-right:218px;
}
.dark_zixun_litst_3{
    background:url(../img/list/list.png) -1066px -104px;
    width:218px;
    height:52px;
    position:absolute;
    top:159px;
    visibility:hidden;
}
.light_zixun_litst_3{
    background:url(../img/list/list.png) -1072px -380px;
    width:218px;
    height:52px;
    position:absolute;
    top:159px;
    visibility:hidden;
}
.zixun:hover .dark_zixun_litst_3{
    visibility:visible;
}
.zixun_litst_3:hover .light_zixun_litst_3{
    visibility:visible;
}
.zixun_litst_3:hover .dark_zixun_litst_3{
    visibility:hidden;
}
.app_litst_1{
    position:absolute;
    right:60px;
    top:-220px;
    padding-right:218px;
}
.dark_app_litst_1{
    background:url(../img/list/list.png) -794px 0px;
    width:232px;
    height:98px;
    position:absolute;
    top:218px;
    visibility:hidden;
}
.light_app_litst_1{
    background:url(../img/list/list.png) -794px -159px;
    width:232px;
    height:98px;
    position:absolute;
    top:218px;
    visibility:hidden;
}
.app:hover .dark_app_litst_1{
    visibility:visible;
}
.app_litst_1:hover .light_app_litst_1{
    visibility:visible;
}
.app_litst_1:hover .dark_app_litst_1{
    visibility:hidden;
}
.zhucehaoli_litst_1{
    position:absolute;
    right:48px;
    top:-273px;
    padding-right:212px;
}
.dark_zhucehaoli_litst_1{
    background:url(../img/list/list_2.jpg) -18px -289px;
    width:213px;
    height:75px;
    position:absolute;
    top:273px;
    visibility:hidden;
}
.light_zhucehaoli_litst_1{
    background:url(../img/list/list_2.jpg) -18px -182px;
    width:213px;
    height:75px;
    position:absolute;
    top:273px;
    visibility:hidden;
}
.zhucehaoli:hover .dark_zhucehaoli_litst_1{
    visibility:visible;
}
.zhucehaoli_litst_1:hover .light_zhucehaoli_litst_1{
    visibility:visible;
}
.zhucehaoli_litst_1:hover .dark_zhucehaoli_litst_1{
    visibility:hidden;
}